@media (min-width: 600px) {
 
      .img{
        width: 40%;
        margin: 0;


      }
      
      .forside {
        padding-top: 20rem;
        text-align: center;
        padding-bottom: 20rem;
      }
      .forside h1 {
        font-size: 60px;
        margin-top: -10%;
      }

      .card1 img {
        width: 100%;
        object-fit: cover;
        border-radius: 5%;
        margin-top: 10%;
        opacity: 70%;
    

      }

      .card1 h3 {
        font-size: 30px;
        transform: translate(45%, -350%);
      
      }

      #main_layout {
        display: grid;
        grid-auto-rows: 1fr;
        grid-gap: 0%;
        padding: 2rem;

      }
      .card_layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
      }
      .card1 {
        background-color: #fff;
        font-family: "montserrat";
        border-radius: 5%;
        margin-right: 5%;
      }
      
      
      .card1 img {
        width: 100%;
        object-fit: cover;
        border-radius: 5% 5% 5% 5%;
      }
      

}

@media (min-width: 100px) {
.card1 h3 {
  font-size: 20px;
  transform: translate(25%, -350%);

}
}